body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.title {
	font-size: 21px;
	font-weight: 400;
	padding-top: 30px;
	padding-left: 20px;
	margin: 0px 0px 8px 8px;
}
.content {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;

}
.container {
	margin-top: -749px;
	border-left: 1px solid #e4e5e6;
	margin-left:5%;
	overflow: auto;
	box-sizing: border-box;
	background-color: #eefdfc;
}

.dropdown {
	width: 240px;
	margin: -20px 0px 0px 8px;
}
.filters {
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
	width: 100%;
}
.collapsed {
	flex-direction: row;
	align-self: flex-start;
	align-items: flex-end;
}
.tickets{
	background-color: #eefdfc;
}
.abc{
	background-color: brown;
}


